@import "src/variables";

.label {
  display: block;
  font-weight: 600;
  color: $blue;
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.input {
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-radius: 0.375rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 1rem;
  font-family: $font;
  background-color: $white;
  height: 2.5rem;

  &::placeholder {
    text-align: start;
    font-family: $font;
    color: $light-gray;
  }
}

.input:focus {
  outline-color: $green;
}
