@import "src/variables";
@import "src/mixins";

.text {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding-top: 2rem;
}

.container {
  @include flexColumnCenter;
  width: 80%;
  margin: 0 auto;
}

.form {
  width: 100%;
  padding: 2rem 1rem;
  z-index: 1;
  background-color: $bg-gray;
  border-radius: 0.625rem;
  margin-bottom: 5rem;
}

.container-button {
  display: flex;
  justify-content: center;
}

.shape {
  display: none;
}

@media (min-width: 768px) {
  .form {
    width: 40.375rem;
  }

  .shape {
    display: block;
  }

  .container {
    width: 38rem;
  }
}
