@import "src/variables";
@import "src/mixins";

.home {
  width: 100%;
  height: 750px;
  min-height: 100vh;
  background-color: $blue;
  padding-top: 12rem;
  position: relative;
}

.shape {
  position: absolute;
  right: -2rem;
  width: 100px;
}

.container-main {
  @include flexColumnCenter;
  margin: 0 auto;
  width: 60%;

  h1 {
    margin-bottom: 2rem;
  }

  h2 {
    color: $white;
    font-weight: 500;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
}

.container-buttons {
  @include flexColumnCenter;
  gap: 1rem;
}

.illustration {
  position: absolute;
  width: 280px;
  bottom: -2rem;
}
