@import "src/variables";
@import "src/mixins";

.container {
  width: 100%;
  height: 700px;
  background-color: $white;
  position: relative;
  padding-top: 9rem;
}

.paws {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 40%;
}

.container-main {
  @include flexColumnCenter;
  width: 80%;
  margin: 0 auto;

  h1 {
    @include flexColumnCenter;
    margin-bottom: 1rem;
    img {
      width: 60%;
    }
  }

  h2 {
    color: $blue;
    margin-bottom: 1rem;
  }

  form {
    width: 100%;
    text-align: center;
    z-index: 1;
  }
}

.shape {
  width: 75px;
  top: 40%;
  position: absolute;
  transform: scaleX(-1);
}

@media (min-width: 480px) {
  .container {
    padding-top: 12rem;
  }

  .paws {
    width: 195px;
  }

  .container-main {
    h1 {
      img {
        width: 280px;
      }
    }
    h2 {
      font-size: 1.25rem;
    }

    form {
      width: 25rem;
    }
  }

  .shape {
    transform: unset;
    right: 0;
    top: 35%;
    width: 100px;
  }
}

@media (min-width: 768px) {
  .container-main {
    width: 38rem;
  }
}
