@import "src/variables";
@import "src/mixins";

.container {
  width: 100%;
  height: 700px;
  background-color: $white;
  position: relative;
  padding-top: 9rem;
}

.paws,
.user {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.paws {
  width: 40%;
}

.user {
  padding: 1.75rem;
}

.container-main {
  @include flexColumnCenter;
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .container {
    padding-top: 12rem;
  }

  .paws {
    width: 195px;
  }
}

@media (min-width: 768px) {
  .container-main {
    width: 38rem;
  }
}
