@import "src/variables";

.header {
  position: relative;
  width: 80%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}

.container-icons {
  padding: 2rem;
  display: flex;
  gap: 3rem;
  position: absolute;
  z-index: 2;
}

.logo {
  display: none;
}

.btn-icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.icon:hover {
  fill: $blue;
}

@media (min-width: 600px) {
  .header {
    img {
      width: 480px;
    }
  }
}

@media (min-width: 768px) {
  .logo {
    display: block;
  }
}
