@import "src/variables";

.container {
  position: absolute;
  right: 0.5rem;
  bottom: 1.5rem;
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  color: $dark-gray;
  font-size: 1.25rem;
}
