@import "/src/variables";
@import "src/mixins";

.footer {
  @include flexColumnCenter;
  justify-content: center;
  height: 6.5rem;
  background-color: $green;
  position: absolute;
  width: 100%;
  z-index: 2;

  p {
    color: $white;
  }
}
