@import "reset-css/reset.css";
@import "./variables";

body {
  font-family: $font;
}

/* Custom Scroll */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $cream;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: $light-gray;
}
